# compile output folder
src/vsfiles/**/*.*

staging/**/*.*

src/**/.vs/**/*.*
src/**/packages/**/*.*

src/installer/obj/**/*.*

# Compiled Object files
*.obj

# debug symbols
*.pdb

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.dll

# Compiled Static libraries
*.lib

# Executables
*.exe
