<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">

  <?define StagingSourceRootFolder=$(var.ProjectDir)\..\..\build\staging ?>
  <?define StagingVersionIncludeFile=$(StagingSourceRootFolder)\version\BundleInfo.wxi ?>

  <Package
        Name="Microsoft Windows USB ASIO Control Panel $(var.Platform)-$(var.Configuration) Preview"
        Manufacturer="Microsoft Corporation"
        Version="1.0.0.0"
        UpgradeCode="3b1e7eb9-37c7-44a4-ad9a-c686db7639b8"
        UpgradeStrategy="majorUpgrade"
        >

      <MediaTemplate EmbedCab="yes" />

      <StandardDirectory Id="ProgramFiles64Folder">
          <Directory Id="ROOTINSTALLFOLDER" Name="Windows ASIO">
            <Directory Id="AssetsFolder" Name="Assets" />
          </Directory>
      </StandardDirectory>
        
      <Component Id="Driver"
                  Permanent="no"
                  Bitness="always64"
                  Directory="ROOTINSTALLFOLDER"
                  Guid="e6398e99-7a97-4a43-8310-f332cded5065">

        <!-- UAC2 Driver -->
        <!--
        <File Source="$(StagingSourceRootFolder)\$(var.Platform)\$(var.Configuration)\USBAudio2-ACX.sys" Vital="true" />
        <File Source="$(StagingSourceRootFolder)\$(var.Platform)\$(var.Configuration)\USBAudio2-ACX.inf" Vital="true" />
        <File Source="$(StagingSourceRootFolder)\$(var.Platform)\$(var.Configuration)\USBAudio2-ACX.cat" Vital="true" />
        -->
        
        <!-- ASIO Components. For these, the Arm64 build is Arm64X and is included in the Arm64EC folder. 
             We stage it in the Arm64 platform staging folder to keep the installer simple-->

        <!--
        <File Source="$(StagingSourceRootFolder)\$(var.Platform)\$(var.Configuration)\USBAsio.dll" Vital="true" SelfRegCost="1"/>
        <File Source="$(StagingSourceRootFolder)\$(var.Platform)\$(var.Configuration)\USBAsio.pdb" />
        -->
        
        <File Source="$(StagingSourceRootFolder)\$(var.Platform)\$(var.Configuration)\USBAsioControlPanel.exe" Vital="true" />
        <!-- WinAppSDK / WinUI3 -->
        <File Source="$(StagingSourceRootFolder)\$(var.Platform)\$(var.Configuration)\Microsoft.WindowsAppRuntime.Bootstrap.dll" />
        <File Source="$(StagingSourceRootFolder)\$(var.Platform)\$(var.Configuration)\USBAsioControlPanel.pri" />
        <File Source="$(StagingSourceRootFolder)\$(var.Platform)\$(var.Configuration)\USBAsioControlPanel.winmd" />

        <!-- WebView2 -->
        <File Source="$(StagingSourceRootFolder)\$(var.Platform)\$(var.Configuration)\Microsoft.Web.WebView2.Core.dll" />
        <File Source="$(StagingSourceRootFolder)\$(var.Platform)\$(var.Configuration)\Microsoft.Web.WebView2.Core.winmd" />

        <!-- XAML compiled XBF -->
        <File Source="$(StagingSourceRootFolder)\$(var.Platform)\$(var.Configuration)\AboutPage.xbf" />
        <File Source="$(StagingSourceRootFolder)\$(var.Platform)\$(var.Configuration)\App.xbf" />
        <File Source="$(StagingSourceRootFolder)\$(var.Platform)\$(var.Configuration)\AsioPage.xbf" />
        <File Source="$(StagingSourceRootFolder)\$(var.Platform)\$(var.Configuration)\MainWindow.xbf" />

      </Component>

      <!-- Assets folder files -->
      <Component Id="AssetsFiles"
                 Permanent="no"
                 Bitness="always64"
                 Directory="AssetsFolder"
                 Guid="b1f3c0c1-9d22-4b1e-9f5c-8a7c1c0e1234">

        <File Source="$(StagingSourceRootFolder)\$(var.Platform)\$(var.Configuration)\Assets\ASIOLogoIcon2.bmp" />
        <File Source="$(StagingSourceRootFolder)\$(var.Platform)\$(var.Configuration)\Assets\LockScreenLogo.scale-200.png" />
        <File Source="$(StagingSourceRootFolder)\$(var.Platform)\$(var.Configuration)\Assets\SplashScreen.scale-200.png" />
        <File Source="$(StagingSourceRootFolder)\$(var.Platform)\$(var.Configuration)\Assets\Square44x44Logo.scale-200.png" />
        <File Source="$(StagingSourceRootFolder)\$(var.Platform)\$(var.Configuration)\Assets\Square44x44Logo.targetsize-24_altform-unplated.png" />
        <File Source="$(StagingSourceRootFolder)\$(var.Platform)\$(var.Configuration)\Assets\Square150x150Logo.scale-200.png" />
        <File Source="$(StagingSourceRootFolder)\$(var.Platform)\$(var.Configuration)\Assets\StoreLogo.png" />
        <File Source="$(StagingSourceRootFolder)\$(var.Platform)\$(var.Configuration)\Assets\Wide310x150Logo.scale-200.png" />
      </Component>

      <Feature Id="UsbAcxAndAsioDriver">
          <ComponentRef Id="Driver" />
          <ComponentRef Id="AssetsFiles" />
      </Feature>

  </Package>
</Wix>
